{
  "openapi": "3.1.0",
  "info": {
    "title": "ScrapeBadger Google Scraper API",
    "version": "1.0.0",
    "description": "Structured JSON APIs for 16 Google product APIs: Search, Maps, News, Hotels, Trends, Jobs, Shopping, Patents, Scholar, Autocomplete, Images, Videos, Finance, AI Mode, Lens, Products."
  },
  "servers": [
    {
      "url": "https://scrapebadger.com"
    }
  ],
  "paths": {
    "/v1/google/search": {
      "get": {
        "tags": [
          "Google Search"
        ],
        "summary": "Google web search",
        "description": "Search Google and get structured results (organic, ads, KG, AI overview, PAA).",
        "operationId": "google_search_v1_google_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query (supports Google operators)",
              "title": "Q"
            },
            "description": "Search query (supports Google operators)"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Num"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset (0, 10, 20...)",
              "default": 0,
              "title": "Start"
            },
            "description": "Page offset (0, 10, 20...)"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google domain",
              "default": "google.com",
              "title": "Domain"
            },
            "description": "Google domain"
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desktop",
              "title": "Device"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City-level geo-targeting",
              "title": "Location"
            },
            "description": "City-level geo-targeting"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Language restrict (e.g. lang_en)",
              "title": "Lr"
            },
            "description": "Language restrict (e.g. lang_en)"
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Time filter (e.g. qdr:d)",
              "title": "Tbs"
            },
            "description": "Time filter (e.g. qdr:d)"
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "off",
              "title": "Safe"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UULE encoded location",
              "title": "Uule"
            },
            "description": "UULE encoded location"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Show omitted results",
              "title": "Filter"
            },
            "description": "Show omitted results"
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Disable auto-correction",
              "default": 0,
              "title": "Nfpr"
            },
            "description": "Disable auto-correction"
          },
          {
            "name": "cr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Country restrict",
              "title": "Cr"
            },
            "description": "Country restrict"
          },
          {
            "name": "ludocid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Google Place CID",
              "title": "Ludocid"
            },
            "description": "Google Place CID"
          },
          {
            "name": "lsig",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Knowledge Graph map ID",
              "title": "Lsig"
            },
            "description": "Knowledge Graph map ID"
          },
          {
            "name": "kgmid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Knowledge Graph entity ID",
              "title": "Kgmid"
            },
            "description": "Knowledge Graph entity ID"
          },
          {
            "name": "si",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cached search params",
              "title": "Si"
            },
            "description": "Cached search params"
          },
          {
            "name": "ibp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Layout control",
              "title": "Ibp"
            },
            "description": "Layout control"
          },
          {
            "name": "uds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Google filter string",
              "title": "Uds"
            },
            "description": "Google filter string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Google Search V1 Google Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/search": {
      "get": {
        "tags": [
          "Google Maps"
        ],
        "summary": "Search Google Maps places",
        "operationId": "maps_search_v1_google_maps_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Q"
            },
            "description": "Search query"
          },
          {
            "name": "ll",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ll"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Start"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Search V1 Google Maps Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/place": {
      "get": {
        "tags": [
          "Google Maps"
        ],
        "summary": "Get place details",
        "operationId": "maps_place_v1_google_maps_place_get",
        "parameters": [
          {
            "name": "place_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Place Id"
            }
          },
          {
            "name": "data_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Data Id"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Place V1 Google Maps Place Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/reviews": {
      "get": {
        "tags": [
          "Google Maps"
        ],
        "summary": "Get place reviews",
        "operationId": "maps_reviews_v1_google_maps_reviews_get",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Maps data ID",
              "title": "Data Id"
            },
            "description": "Maps data ID"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "qualityScore",
              "title": "Sort By"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Next Page Token"
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "default": 10,
              "title": "Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Reviews V1 Google Maps Reviews Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/photos": {
      "get": {
        "tags": [
          "Google Maps"
        ],
        "summary": "Get place photos",
        "operationId": "maps_photos_v1_google_maps_photos_get",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Maps data ID",
              "title": "Data Id"
            },
            "description": "Maps data ID"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Next Page Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Photos V1 Google Maps Photos Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/posts": {
      "get": {
        "tags": [
          "Google Maps"
        ],
        "summary": "Get business posts",
        "operationId": "maps_posts_v1_google_maps_posts_get",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Maps data ID",
              "title": "Data Id"
            },
            "description": "Maps data ID"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Next Page Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Posts V1 Google Maps Posts Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/news/search": {
      "get": {
        "tags": [
          "Google News"
        ],
        "summary": "Search Google News",
        "operationId": "news_search_v1_google_news_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Q"
            },
            "description": "Search query"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Gl"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Max Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response News Search V1 Google News Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/news/topics": {
      "get": {
        "tags": [
          "Google News"
        ],
        "summary": "News by topic",
        "operationId": "news_topics_v1_google_news_topics_get",
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Topic name",
              "title": "Topic"
            },
            "description": "Topic name"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Gl"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Max Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response News Topics V1 Google News Topics Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/news/trending": {
      "get": {
        "tags": [
          "Google News"
        ],
        "summary": "Trending news",
        "operationId": "news_trending_v1_google_news_trending_get",
        "parameters": [
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Gl"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Max Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response News Trending V1 Google News Trending Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/hotels/search": {
      "get": {
        "tags": [
          "Google Hotels"
        ],
        "summary": "Search hotels",
        "operationId": "hotels_search_v1_google_hotels_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Location or hotel name",
              "title": "Q"
            },
            "description": "Location or hotel name"
          },
          {
            "name": "check_in",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check In"
            },
            "description": "YYYY-MM-DD"
          },
          {
            "name": "check_out",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check Out"
            },
            "description": "YYYY-MM-DD"
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2,
              "title": "Adults"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD",
              "title": "Currency"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Hotels Search V1 Google Hotels Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/hotels/details": {
      "get": {
        "tags": [
          "Google Hotels"
        ],
        "summary": "Hotel details",
        "operationId": "hotel_details_v1_google_hotels_details_get",
        "parameters": [
          {
            "name": "property_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Property token",
              "title": "Property Token"
            },
            "description": "Property token"
          },
          {
            "name": "check_in",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check In"
            },
            "description": "YYYY-MM-DD"
          },
          {
            "name": "check_out",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check Out"
            },
            "description": "YYYY-MM-DD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Hotel Details V1 Google Hotels Details Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/interest": {
      "get": {
        "tags": [
          "Google Trends"
        ],
        "summary": "Interest over time",
        "operationId": "trends_interest_v1_google_trends_interest_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search terms",
              "title": "Q"
            },
            "description": "Search terms"
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Geo"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today 12-m",
              "title": "Date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Interest V1 Google Trends Interest Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/regions": {
      "get": {
        "tags": [
          "Google Trends"
        ],
        "summary": "Interest by region",
        "operationId": "trends_regions_v1_google_trends_regions_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search term",
              "title": "Q"
            },
            "description": "Search term"
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Geo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Regions V1 Google Trends Regions Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/related": {
      "get": {
        "tags": [
          "Google Trends"
        ],
        "summary": "Related topics & queries",
        "operationId": "trends_related_v1_google_trends_related_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search term",
              "title": "Q"
            },
            "description": "Search term"
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Geo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Related V1 Google Trends Related Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/trending": {
      "get": {
        "tags": [
          "Google Trends"
        ],
        "summary": "Trending searches",
        "operationId": "trends_trending_v1_google_trends_trending_get",
        "parameters": [
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Geo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Trending V1 Google Trends Trending Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/jobs/search": {
      "get": {
        "tags": [
          "Google Jobs"
        ],
        "summary": "Search Google Jobs",
        "operationId": "jobs_search_v1_google_jobs_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Job title, keywords",
              "title": "Q"
            },
            "description": "Job title, keywords"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Location"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "job_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Job Type"
            }
          },
          {
            "name": "date_posted",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Date Posted"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Jobs Search V1 Google Jobs Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/shopping/search": {
      "get": {
        "tags": [
          "Google Shopping"
        ],
        "summary": "Search products",
        "operationId": "shopping_search_v1_google_shopping_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Product search query",
              "title": "Q"
            },
            "description": "Product search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Price"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Price"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort By"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Shopping Search V1 Google Shopping Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/shopping/product": {
      "get": {
        "tags": [
          "Google Shopping"
        ],
        "summary": "Product details",
        "operationId": "shopping_product_v1_google_shopping_product_get",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Product ID",
              "title": "Product Id"
            },
            "description": "Product ID"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Shopping Product V1 Google Shopping Product Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/shopping/product/click": {
      "get": {
        "tags": [
          "Google Shopping"
        ],
        "summary": "Resolve merchant URL for a product",
        "description": "Resolve the direct merchant URL for a product from Google Shopping.\n\nGoogle has removed merchant links from organic Shopping HTML, so this\nper-product enrichment endpoint uses an \"I'm Feeling Lucky\" redirect\n(optionally scoped to the card's source merchant via `site:`) to\nreturn the real product page URL. Mirrors ScrapingDog's\n`scrapingdog_immersive_product_link` pattern.",
        "operationId": "shopping_product_click_v1_google_shopping_product_click_get",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Exact product title from a search result",
              "title": "Title"
            },
            "description": "Exact product title from a search result"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Merchant source name (e.g. 'Walmart', 'Best Buy')",
              "title": "Source"
            },
            "description": "Merchant source name (e.g. 'Walmart', 'Best Buy')"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Original search query",
              "title": "Q"
            },
            "description": "Original search query"
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Stable product_id",
              "title": "Product Id"
            },
            "description": "Stable product_id"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Shopping Product Click V1 Google Shopping Product Click Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/patents/search": {
      "get": {
        "tags": [
          "Google Patents"
        ],
        "summary": "Search patents",
        "operationId": "patents_search_v1_google_patents_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Q"
            },
            "description": "Search query"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Page"
            }
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Num"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort"
            }
          },
          {
            "name": "inventor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Inventor"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Assignee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Patents Search V1 Google Patents Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/patents/detail": {
      "get": {
        "tags": [
          "Google Patents"
        ],
        "summary": "Patent details",
        "operationId": "patent_detail_v1_google_patents_detail_get",
        "parameters": [
          {
            "name": "patent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Patent number",
              "title": "Patent Id"
            },
            "description": "Patent number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Patent Detail V1 Google Patents Detail Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/scholar/search": {
      "get": {
        "tags": [
          "Google Scholar"
        ],
        "summary": "Search Google Scholar",
        "description": "Search Google Scholar for scholarly articles.",
        "operationId": "scholar_search_v1_google_scholar_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query for scholarly articles",
              "title": "Q"
            },
            "description": "Search query for scholarly articles"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "as_ylo",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Year from (e.g. 2020)",
              "title": "As Ylo"
            },
            "description": "Year from (e.g. 2020)"
          },
          {
            "name": "as_yhi",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Year to (e.g. 2024)",
              "title": "As Yhi"
            },
            "description": "Year to (e.g. 2024)"
          },
          {
            "name": "as_sdt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search type: 0=exclude patents, 7=include",
              "default": "0",
              "title": "As Sdt"
            },
            "description": "Search type: 0=exclude patents, 7=include"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page number (0-based)",
              "default": 0,
              "title": "Page"
            },
            "description": "Page number (0-based)"
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Results per page (max 20)",
              "default": 10,
              "title": "Num"
            },
            "description": "Results per page (max 20)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Scholar Search V1 Google Scholar Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/autocomplete": {
      "get": {
        "tags": [
          "Google Autocomplete"
        ],
        "summary": "Google search suggestions",
        "description": "Get Google search autocomplete suggestions.",
        "operationId": "autocomplete_v1_google_autocomplete_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query to get suggestions for",
              "title": "Q"
            },
            "description": "Search query to get suggestions for"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Autocomplete V1 Google Autocomplete Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/images/search": {
      "get": {
        "tags": [
          "Google Images"
        ],
        "summary": "Search Google Images",
        "description": "Search Google Images for visual content.",
        "operationId": "images_search_v1_google_images_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Image search query",
              "title": "Q"
            },
            "description": "Image search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Time/filter string (e.g. qdr:d)",
              "title": "Tbs"
            },
            "description": "Time/filter string (e.g. qdr:d)"
          },
          {
            "name": "imgsz",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Image size: l, m, i, xXl",
              "title": "Imgsz"
            },
            "description": "Image size: l, m, i, xXl"
          },
          {
            "name": "imgcolor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Image color filter",
              "title": "Imgcolor"
            },
            "description": "Image color filter"
          },
          {
            "name": "imgtype",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Image type: face, photo, clipart",
              "title": "Imgtype"
            },
            "description": "Image type: face, photo, clipart"
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Safe search",
              "default": "off",
              "title": "Safe"
            },
            "description": "Safe search"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page number",
              "default": 0,
              "title": "Page"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Images Search V1 Google Images Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/videos/search": {
      "get": {
        "tags": [
          "Google Videos"
        ],
        "summary": "Search Google Videos",
        "description": "Search Google for video results.",
        "operationId": "videos_search_v1_google_videos_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Video search query",
              "title": "Q"
            },
            "description": "Video search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Time filter (e.g. qdr:d)",
              "title": "Tbs"
            },
            "description": "Time filter (e.g. qdr:d)"
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Safe search",
              "default": "off",
              "title": "Safe"
            },
            "description": "Safe search"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page number",
              "default": 0,
              "title": "Page"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Videos Search V1 Google Videos Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/finance/quote": {
      "get": {
        "tags": [
          "Google Finance"
        ],
        "summary": "Get stock/index quote",
        "description": "Get a stock or index quote from Google Finance.",
        "operationId": "finance_quote_v1_google_finance_quote_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Ticker and exchange (e.g. \"AAPL:NASDAQ\", \"BTC-USD\")",
              "title": "Q"
            },
            "description": "Ticker and exchange (e.g. \"AAPL:NASDAQ\", \"BTC-USD\")"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Finance Quote V1 Google Finance Quote Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/ai-mode/search": {
      "get": {
        "tags": [
          "Google AI Mode"
        ],
        "summary": "Google AI Mode search",
        "description": "Get AI-generated search results from Google AI Mode.",
        "operationId": "ai_mode_search_v1_google_ai_mode_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query for AI-generated response",
              "title": "Q"
            },
            "description": "Search query for AI-generated response"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Ai Mode Search V1 Google Ai Mode Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/lens/search": {
      "get": {
        "tags": [
          "Google Lens"
        ],
        "summary": "Google Lens visual search",
        "description": "Search Google Lens by image URL for visually similar results.",
        "operationId": "lens_search_v1_google_lens_search_get",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public URL of the image to search visually",
              "title": "Url"
            },
            "description": "Public URL of the image to search visually"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Lens Search V1 Google Lens Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/products/detail": {
      "get": {
        "tags": [
          "Google Products"
        ],
        "summary": "Immersive product detail",
        "description": "Get deep product details from Google's immersive product page.",
        "operationId": "products_detail_v1_google_products_detail_get",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Google Shopping product ID",
              "title": "Product Id"
            },
            "description": "Google Shopping product ID"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Products Detail V1 Google Products Detail Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/health": {
      "get": {
        "tags": [
          "Google Health"
        ],
        "summary": "Google scraper health check",
        "operationId": "google_health_v1_google_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Google Health V1 Google Health Get"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AIUsageListResponse": {
        "properties": {
          "entries": {
            "items": {
              "$ref": "#/components/schemas/AIUsageLogEntry"
            },
            "type": "array",
            "title": "Entries"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More"
          }
        },
        "type": "object",
        "required": [
          "entries",
          "total",
          "has_more"
        ],
        "title": "AIUsageListResponse",
        "description": "Paginated list of AI usage log entries."
      },
      "AIUsageLogEntry": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          },
          "channel": {
            "type": "string",
            "title": "Channel"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "prompt_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt Tokens"
          },
          "completion_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completion Tokens"
          },
          "total_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Tokens"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "kb_documents_used": {
            "type": "integer",
            "title": "Kb Documents Used"
          },
          "escalated": {
            "type": "boolean",
            "title": "Escalated"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "user_id",
          "channel",
          "model",
          "prompt_tokens",
          "completion_tokens",
          "total_tokens",
          "latency_ms",
          "kb_documents_used",
          "escalated",
          "created_at"
        ],
        "title": "AIUsageLogEntry",
        "description": "Single AI usage log entry."
      },
      "AIUsageStatsResponse": {
        "properties": {
          "total_responses": {
            "type": "integer",
            "title": "Total Responses"
          },
          "total_prompt_tokens": {
            "type": "integer",
            "title": "Total Prompt Tokens"
          },
          "total_completion_tokens": {
            "type": "integer",
            "title": "Total Completion Tokens"
          },
          "total_tokens": {
            "type": "integer",
            "title": "Total Tokens"
          },
          "escalation_count": {
            "type": "integer",
            "title": "Escalation Count"
          },
          "escalation_rate": {
            "type": "number",
            "title": "Escalation Rate"
          },
          "avg_latency_ms": {
            "type": "number",
            "title": "Avg Latency Ms"
          },
          "models_used": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Models Used"
          }
        },
        "type": "object",
        "required": [
          "total_responses",
          "total_prompt_tokens",
          "total_completion_tokens",
          "total_tokens",
          "escalation_count",
          "escalation_rate",
          "avg_latency_ms",
          "models_used"
        ],
        "title": "AIUsageStatsResponse",
        "description": "AI usage statistics."
      },
      "APIKeyCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "APIKeyCreate",
        "description": "API key creation request."
      },
      "APIKeyCreatedResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "key": {
            "type": "string",
            "title": "Key"
          },
          "prefix": {
            "type": "string",
            "title": "Prefix"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "tier": {
            "type": "string",
            "title": "Tier"
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "title": "Rate Limit Per Minute"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "key",
          "prefix",
          "name",
          "tier",
          "rate_limit_per_minute",
          "created_at"
        ],
        "title": "APIKeyCreatedResponse",
        "description": "API key created response (includes full key once)."
      },
      "APIKeyRateLimitOverride": {
        "properties": {
          "rate_limit_override": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rate Limit Override"
          },
          "daily_credit_limit_override": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Daily Credit Limit Override"
          }
        },
        "type": "object",
        "title": "APIKeyRateLimitOverride",
        "description": "API key rate limit override request."
      },
      "APIKeysWithOverridesResponse": {
        "properties": {
          "api_keys": {
            "items": {
              "$ref": "#/components/schemas/portal_api__routers__admin_rate_limits__APIKeyResponse"
            },
            "type": "array",
            "title": "Api Keys"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages"
          }
        },
        "type": "object",
        "required": [
          "api_keys",
          "total",
          "page",
          "page_size",
          "total_pages"
        ],
        "title": "APIKeysWithOverridesResponse",
        "description": "Response for API keys with rate limit overrides."
      },
      "AboutSectionCreate": {
        "properties": {
          "section": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Section"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url"
          },
          "display_order": {
            "type": "integer",
            "title": "Display Order",
            "default": 0
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "section"
        ],
        "title": "AboutSectionCreate",
        "description": "Create about page section request."
      },
      "AboutSectionResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "section": {
            "type": "string",
            "title": "Section"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url"
          },
          "display_order": {
            "type": "integer",
            "title": "Display Order"
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "section",
          "title",
          "content",
          "image_url",
          "display_order",
          "is_active",
          "created_at",
          "updated_at"
        ],
        "title": "AboutSectionResponse",
        "description": "About page section response."
      },
      "AboutSectionUpdate": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url"
          },
          "display_order": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Display Order"
          },
          "is_active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Active"
          }
        },
        "type": "object",
        "title": "AboutSectionUpdate",
        "description": "Update about page section request."
      },
      "AccountInfo": {
        "properties": {
          "credits_balance": {
            "type": "number",
            "title": "Credits Balance"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "rate_limit_per_minute": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rate Limit Per Minute"
          }
        },
        "type": "object",
        "required": [
          "credits_balance",
          "tier",
          "rate_limit_per_minute"
        ],
        "title": "AccountInfo",
        "description": "Account information response."
      },
      "AccountManagerListResponse": {
        "properties": {
          "account_managers": {
            "items": {
              "$ref": "#/components/schemas/portal_api__routers__admin_account_managers__AccountManagerInfo"
            },
            "type": "array",
            "title": "Account Managers"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "type": "object",
        "required": [
          "account_managers",
          "total"
        ],
        "title": "AccountManagerListResponse",
        "description": "Response for listing available account managers."
      },
      "AccountManagerOptionResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "image": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "image"
        ],
        "title": "AccountManagerOptionResponse",
        "description": "Account manager option for dropdown."
      },
      "AccountManagerStatusResponse": {
        "properties": {
          "has_account_manager": {
            "type": "boolean",
            "title": "Has Account Manager"
          },
          "account_manager": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/portal_api__routers__messaging__AccountManagerInfo"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "has_account_manager",
          "account_manager"
        ],
        "title": "AccountManagerStatusResponse",
        "description": "Response for account manager status."
      },
      "AccountSettingsResponse": {
        "properties": {
          "email": {
            "type": "string",
            "title": "Email"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "image": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image"
          },
          "account_type": {
            "type": "string",
            "title": "Account Type"
          },
          "personal": {
            "$ref": "#/components/schemas/PersonalAccountSettings"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessAccountSettings"
          },
          "billing_address": {
            "$ref": "#/components/schemas/BillingAddress"
          }
        },
        "type": "object",
        "required": [
          "email",
          "account_type",
          "personal",
          "business",
          "billing_address"
        ],
        "title": "AccountSettingsResponse",
        "description": "Full account settings response."
      },
      "AccountSettingsUpdate": {
        "properties": {
          "account_type": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(personal|business)$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Type"
          },
          "first_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Name"
          },
          "last_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Name"
          },
          "billing_address_line1": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Billing Address Line1"
          },
          "billing_address_line2": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Billing Address Line2"
          },
          "billing_city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Billing City"
          },
          "billing_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Billing State"
          },
          "billing_postal_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Billing Postal Code"
          },
          "billing_country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Billing Country"
          },
          "company_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Company Name"
          },
          "vat_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vat Id"
          }
        },
        "type": "object",
        "title": "AccountSettingsUpdate",
        "description": "Account settings update request."
      },
      "AddNodeRequest": {
        "properties": {
          "node_id": {
            "type": "string",
            "title": "Node Id",
            "description": "Unique node identifier, e.g. 'vps-us-1'"
          },
          "ip": {
            "type": "string",
            "title": "Ip",
            "description": "VPS IP address"
          },
          "ssh_port": {
            "type": "integer",
            "title": "Ssh Port",
            "description": "SSH port",
            "default": 22
          },
          "cdp_ports": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Cdp Ports",
            "description": "CDP ports for each Chrome instance"
          },
          "max_contexts_per_instance": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Max Contexts Per Instance",
            "description": "Maximum concurrent browser contexts per Chrome instance",
            "default": 5
          }
        },
        "type": "object",
        "required": [
          "node_id",
          "ip",
          "cdp_ports"
        ],
        "title": "AddNodeRequest",
        "description": "Request body for adding a new Windows VPS node."
      },
      "AdminFilterRuleResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "tag": {
            "type": "string",
            "title": "Tag"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "interval_seconds": {
            "type": "number",
            "title": "Interval Seconds"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "status_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Reason"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "total_credits_burned": {
            "type": "number",
            "title": "Total Credits Burned"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "tag",
          "query",
          "interval_seconds",
          "status",
          "status_reason",
          "webhook_url",
          "total_credits_burned",
          "created_at",
          "updated_at"
        ],
        "title": "AdminFilterRuleResponse",
        "description": "Filter rule response for admin user view."
      },
      "AdminMessagingStatsResponse": {
        "properties": {
          "total_assigned_users": {
            "type": "integer",
            "title": "Total Assigned Users"
          },
          "total_conversations": {
            "type": "integer",
            "title": "Total Conversations"
          },
          "total_unread": {
            "type": "integer",
            "title": "Total Unread"
          },
          "users_with_unread": {
            "type": "integer",
            "title": "Users With Unread"
          }
        },
        "type": "object",
        "required": [
          "total_assigned_users",
          "total_conversations",
          "total_unread",
          "users_with_unread"
        ],
        "title": "AdminMessagingStatsResponse",
        "description": "Stats for admin messaging dashboard."
      },
      "AdminStatsResponse": {
        "properties": {
          "total_users": {
            "type": "integer",
            "title": "Total Users"
          },
          "verified_users": {
            "type": "integer",
            "title": "Verified Users"
          },
          "admin_users": {
            "type": "integer",
            "title": "Admin Users"
          },
          "online_users": {
            "type": "integer",
            "title": "Online Users"
          },
          "new_users_today": {
            "type": "integer",
            "title": "New Users Today"
          },
          "new_users_week": {
            "type": "integer",
            "title": "New Users Week"
          }
        },
        "type": "object",
        "required": [
          "total_users",
          "verified_users",
          "admin_users",
          "online_users",
          "new_users_today",
          "new_users_week"
        ],
        "title": "AdminStatsResponse",
        "description": "Admin dashboard statistics."
      },
      "AdminStreamMonitorResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "usernames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Usernames"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "status_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Reason"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "filter_types": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filter Types"
          },
          "polling_strategy": {
            "type": "string",
            "title": "Polling Strategy"
          },
          "warmup_status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AdminWarmupStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "total_credits_burned": {
            "type": "number",
            "title": "Total Credits Burned"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "usernames",
          "status",
          "status_reason",
          "webhook_url",
          "filter_types",
          "polling_strategy",
          "warmup_status",
          "total_credits_burned",
          "created_at",
          "updated_at"
        ],
        "title": "AdminStreamMonitorResponse",
        "description": "Stream monitor response for admin user view."
      },
      "AdminUserResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "email_verified": {
            "type": "boolean",
            "title": "Email Verified"
          },
          "image": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image"
          },
          "is_admin": {
            "type": "boolean",
            "title": "Is Admin"
          },
          "tier": {
            "type": "string",
            "title": "Tier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "last_active_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Active At"
          },
          "last_api_call_at": {
[...]
