{
  "openapi": "3.1.0",
  "info": {
    "title": "ScrapeBadger TikTok API",
    "version": "1.0.0",
    "description": "TikTok scraping API for user profiles, videos, comments, transcripts, hashtags, music/sounds, search, trending, and the EU Commercial Content (ad transparency) library. Returns clean structured JSON; handles signing, anti-bot bypass, and regional proxy routing automatically."
  },
  "servers": [
    {
      "url": "https://scrapebadger.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/tiktok/users/{username}": {
      "get": {
        "operationId": "getTikTokUser",
        "summary": "Get User Profile",
        "description": "Full TikTok user profile by @handle (stats, verification, links, avatars).",
        "tags": [
          "TikTok Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's @handle (unique_id), without the leading '@'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                },
                "example": {
                  "user": {
                    "id": "6784129854561813509",
                    "sec_uid": "MS4wLjABAAAA...",
                    "unique_id": "charlidamelio",
                    "nickname": "charli d'amelio",
                    "signature": "no bio yet",
                    "bio_link": null,
                    "verified": true,
                    "verify_reason": null,
                    "private_account": false,
                    "is_commerce_account": false,
                    "region": "US",
                    "language": "en",
                    "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                    "avatar_larger": "https://p16-sign.tiktokcdn-us.com/avatar_larger.jpeg",
                    "stats": {
                      "follower_count": 155600000,
                      "following_count": 1300,
                      "heart_count": 11800000000,
                      "video_count": 2700,
                      "digg_count": 12000,
                      "friend_count": 1200
                    },
                    "is_live": false,
                    "create_time_utc": 1531234567,
                    "create_time_at": "2018-07-10T12:16:07Z",
                    "profile_url": "https://www.tiktok.com/@charlidamelio"
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/users/{username}/videos": {
      "get": {
        "operationId": "getTikTokUserVideos",
        "summary": "Get User Videos",
        "description": "A user's posted videos, newest first, with cursor pagination.",
        "tags": [
          "TikTok Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's @handle (unique_id), without the leading '@'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "User videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/users/{username}/followers": {
      "get": {
        "operationId": "getTikTokUserFollowers",
        "summary": "Get Followers (Deprecated)",
        "deprecated": true,
        "description": "**Deprecated (HTTP 410 Gone).** TikTok followers/following/liked-video lists require an authenticated account session, which the ScrapeBadger TikTok API does not provide. This route is retained for contract discoverability but always returns 410. All other TikTok endpoints remain fully supported.",
        "tags": [
          "TikTok Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's @handle (unique_id), without the leading '@'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "410": {
            "description": "Gone — endpoint deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeprecatedError"
                },
                "example": {
                  "error": "endpoint_deprecated",
                  "endpoint": "users/charlidamelio/followers",
                  "deprecated": true,
                  "message": "This endpoint is deprecated and no longer available. TikTok followers, following, and liked-video lists require an authenticated account session, which the ScrapeBadger TikTok API does not provide."
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/users/{username}/following": {
      "get": {
        "operationId": "getTikTokUserFollowing",
        "summary": "Get Following (Deprecated)",
        "deprecated": true,
        "description": "**Deprecated (HTTP 410 Gone).** TikTok followers/following/liked-video lists require an authenticated account session, which the ScrapeBadger TikTok API does not provide. This route is retained for contract discoverability but always returns 410. All other TikTok endpoints remain fully supported.",
        "tags": [
          "TikTok Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's @handle (unique_id), without the leading '@'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "410": {
            "description": "Gone — endpoint deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeprecatedError"
                },
                "example": {
                  "error": "endpoint_deprecated",
                  "endpoint": "users/charlidamelio/followers",
                  "deprecated": true,
                  "message": "This endpoint is deprecated and no longer available. TikTok followers, following, and liked-video lists require an authenticated account session, which the ScrapeBadger TikTok API does not provide."
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/users/{username}/liked": {
      "get": {
        "operationId": "getTikTokUserLiked",
        "summary": "Get Liked Videos (Deprecated)",
        "deprecated": true,
        "description": "**Deprecated (HTTP 410 Gone).** TikTok followers/following/liked-video lists require an authenticated account session, which the ScrapeBadger TikTok API does not provide. This route is retained for contract discoverability but always returns 410. All other TikTok endpoints remain fully supported.",
        "tags": [
          "TikTok Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's @handle (unique_id), without the leading '@'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "410": {
            "description": "Gone — endpoint deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeprecatedError"
                },
                "example": {
                  "error": "endpoint_deprecated",
                  "endpoint": "users/charlidamelio/followers",
                  "deprecated": true,
                  "message": "This endpoint is deprecated and no longer available. TikTok followers, following, and liked-video lists require an authenticated account session, which the ScrapeBadger TikTok API does not provide."
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/users/{username}/reposts": {
      "get": {
        "operationId": "getTikTokUserReposts",
        "summary": "Get User Reposts",
        "description": "Videos a user has reposted to their profile.",
        "tags": [
          "TikTok Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's @handle (unique_id), without the leading '@'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Reposted videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/videos/{video_id}": {
      "get": {
        "operationId": "getTikTokVideo",
        "summary": "Get Video Detail",
        "description": "Full metadata for a single TikTok video or photo slideshow.",
        "tags": [
          "TikTok Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The numeric TikTok video/aweme id."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Author @handle. When supplied, skips the oEmbed author lookup for a faster, cheaper fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "Video detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                },
                "example": {
                  "video": {
                    "id": "7234567890123456789",
                    "description": "new dance #fyp #dance",
                    "create_time_utc": 1700000000,
                    "create_time_at": "2023-11-14T22:13:20Z",
                    "region": "US",
                    "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                    "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                    "aweme_type": 0,
                    "author": {
                      "id": "6784129854561813509",
                      "sec_uid": "MS4wLjABAAAA...",
                      "unique_id": "charlidamelio",
                      "nickname": "charli d'amelio",
                      "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                      "signature": "no bio yet",
                      "verified": true,
                      "follower_count": 155600000,
                      "following_count": 1300,
                      "heart_count": 11800000000,
                      "video_count": 2700,
                      "region": "US"
                    },
                    "music": {
                      "id": "7011111111111111111",
                      "title": "original sound",
                      "author_name": "charli d'amelio",
                      "duration": 15,
                      "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                      "original": true
                    },
                    "stats": {
                      "play_count": 24000000,
                      "digg_count": 3100000,
                      "comment_count": 18000,
                      "share_count": 42000,
                      "collect_count": 99000
                    },
                    "video": {
                      "height": 1024,
                      "width": 576,
                      "duration": 15,
                      "ratio": "540p",
                      "format": "mp4",
                      "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                      "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                      "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                      "has_watermark": true
                    },
                    "hashtags": [
                      "fyp",
                      "dance"
                    ],
                    "mentions": [],
                    "challenges": [
                      {
                        "id": "229207",
                        "title": "fyp",
                        "desc": "",
                        "is_commerce": false
                      }
                    ],
                    "is_slideshow": false,
                    "image_urls": [],
                    "is_ad": false,
                    "is_pinned": false
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/videos/{video_id}/comments": {
      "get": {
        "operationId": "getTikTokVideoComments",
        "summary": "Get Comments",
        "description": "Top-level comments on a video, with cursor pagination.",
        "tags": [
          "TikTok Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The numeric TikTok video/aweme id."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentListResponse"
                },
                "example": {
                  "comments": [
                    {
                      "id": "7234999999999999999",
                      "text": "this is iconic",
                      "aweme_id": "7234567890123456789",
                      "parent_comment_id": null,
                      "digg_count": 12000,
                      "reply_count": 34,
                      "create_time_utc": 1700000500,
                      "create_time_at": "2023-11-14T22:21:40Z",
                      "liked_by_author": true,
                      "pinned_by_author": false,
                      "comment_language": "en",
                      "mentions": [],
                      "image_urls": [],
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "replies": []
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/videos/{video_id}/related": {
      "get": {
        "operationId": "getTikTokRelatedVideos",
        "summary": "Get Related Videos",
        "description": "TikTok's recommended/related videos for a given video.",
        "tags": [
          "TikTok Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The numeric TikTok video/aweme id."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 16,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Related videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/videos/{video_id}/transcript": {
      "get": {
        "operationId": "getTikTokTranscript",
        "summary": "Get Transcript",
        "description": "Subtitle/caption tracks and the ASR voice-to-text transcript for a video.",
        "tags": [
          "TikTok Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The numeric TikTok video/aweme id."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptResponse"
                },
                "example": {
                  "video_id": "7234567890123456789",
                  "subtitles": [
                    {
                      "language": "English",
                      "language_code": "eng-US",
                      "source": "ASR",
                      "url": "https://v16-webapp.tiktok.com/subtitle.webvtt",
                      "format": "webvtt"
                    }
                  ],
                  "voice_to_text": "hey guys welcome back to my channel",
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/comments/{comment_id}/replies": {
      "get": {
        "operationId": "getTikTokCommentReplies",
        "summary": "Get Comment Replies",
        "description": "Replies to a specific comment on a video.",
        "tags": [
          "TikTok Videos"
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The comment id (cid) whose replies you want."
          },
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The parent video/aweme id the comment belongs to."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Comment replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentListResponse"
                },
                "example": {
                  "comments": [
                    {
                      "id": "7234999999999999999",
                      "text": "this is iconic",
                      "aweme_id": "7234567890123456789",
                      "parent_comment_id": null,
                      "digg_count": 12000,
                      "reply_count": 34,
                      "create_time_utc": 1700000500,
                      "create_time_at": "2023-11-14T22:21:40Z",
                      "liked_by_author": true,
                      "pinned_by_author": false,
                      "comment_language": "en",
                      "mentions": [],
                      "image_urls": [],
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "replies": []
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/oembed": {
      "get": {
        "operationId": "getTikTokOEmbed",
        "summary": "Get oEmbed Metadata",
        "description": "Cheap, unauthenticated oEmbed metadata for a TikTok video or profile URL.",
        "tags": [
          "TikTok Videos"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Full TikTok video or profile URL."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          }
        ],
        "responses": {
          "200": {
            "description": "oEmbed metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TikTokOEmbed"
                },
                "example": {
                  "version": "1.0",
                  "type": "video",
                  "title": "new dance #fyp #dance",
                  "author_name": "charli d'amelio",
                  "author_url": "https://www.tiktok.com/@charlidamelio",
                  "provider_name": "TikTok",
                  "provider_url": "https://www.tiktok.com",
                  "html": "<blockquote class=\"tiktok-embed\" ...></blockquote>",
                  "thumbnail_url": "https://p16-sign.tiktokcdn-us.com/oembed.jpeg",
                  "thumbnail_width": 576,
                  "thumbnail_height": 1024,
                  "embed_product_id": "7234567890123456789",
                  "embed_type": "video"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/hashtags/{name}": {
      "get": {
        "operationId": "getTikTokHashtag",
        "summary": "Get Hashtag Detail",
        "description": "Hashtag/challenge detail (video count, view count, cover).",
        "tags": [
          "TikTok Hashtags"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The hashtag text, without the leading '#'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          }
        ],
        "responses": {
          "200": {
            "description": "Hashtag detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagResponse"
                },
                "example": {
                  "hashtag": {
                    "id": "229207",
                    "title": "fyp",
                    "description": "Videos on the For You feed.",
                    "cover": "https://p16-sign.tiktokcdn-us.com/hashtag.jpeg",
                    "video_count": 12000000,
                    "view_count": 55000000000000,
                    "is_commerce": false,
                    "url": "https://www.tiktok.com/tag/fyp"
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/hashtags/{name}/videos": {
      "get": {
        "operationId": "getTikTokHashtagVideos",
        "summary": "Get Hashtag Videos",
        "description": "Videos tagged with a given hashtag, with cursor pagination.",
        "tags": [
          "TikTok Hashtags"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The hashtag text, without the leading '#'."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Hashtag videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/music/{music_id}": {
      "get": {
        "operationId": "getTikTokMusic",
        "summary": "Get Music/Sound Detail",
        "description": "Detail for a TikTok sound/music entity (title, author, usage counts).",
        "tags": [
          "TikTok Music"
        ],
        "parameters": [
          {
            "name": "music_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The numeric TikTok music/sound id."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          }
        ],
        "responses": {
          "200": {
            "description": "Music detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MusicResponse"
                },
                "example": {
                  "music": {
                    "id": "7011111111111111111",
                    "title": "original sound",
                    "author_name": "charli d'amelio",
                    "album": null,
                    "duration": 15,
                    "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                    "cover_thumb": "https://p16-sign.tiktokcdn-us.com/music_cover.jpeg",
                    "original": true,
                    "is_copyrighted": false,
                    "video_count": 480000,
                    "user_count": 460000
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/music/{music_id}/videos": {
      "get": {
        "operationId": "getTikTokMusicVideos",
        "summary": "Get Music Videos",
        "description": "Videos that use a given TikTok sound, with cursor pagination.",
        "tags": [
          "TikTok Music"
        ],
        "parameters": [
          {
            "name": "music_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The numeric TikTok music/sound id."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Music videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/search": {
      "get": {
        "operationId": "searchTikTok",
        "summary": "General Search",
        "description": "General TikTok search — video results from the Top feed.",
        "tags": [
          "TikTok Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keyword."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page. It is an opaque composite token."
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/search/users": {
      "get": {
        "operationId": "searchTikTokUsers",
        "summary": "Search Users",
        "description": "Search TikTok users by keyword.",
        "tags": [
          "TikTok Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keyword."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page. It is an opaque composite token."
          }
        ],
        "responses": {
          "200": {
            "description": "User search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSearchResponse"
                },
                "example": {
                  "users": [
                    {
                      "id": "6784129854561813509",
                      "sec_uid": "MS4wLjABAAAA...",
                      "unique_id": "charlidamelio",
                      "nickname": "charli d'amelio",
                      "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                      "signature": "no bio yet",
                      "verified": true,
                      "follower_count": 155600000,
                      "following_count": 1300,
                      "heart_count": 11800000000,
                      "video_count": 2700,
                      "region": "US"
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/search/videos": {
      "get": {
        "operationId": "searchTikTokVideos",
        "summary": "Search Videos",
        "description": "Search TikTok videos by keyword.",
        "tags": [
          "TikTok Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keyword."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page. It is an opaque composite token."
          }
        ],
        "responses": {
          "200": {
            "description": "Video search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/search/hashtags": {
      "get": {
        "operationId": "searchTikTokHashtags",
        "summary": "Search Hashtags",
        "description": "Search TikTok hashtags by keyword.",
        "tags": [
          "TikTok Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keyword."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor — pass the `pagination.cursor` value from a prior response to fetch the next page. Omit for the first page. It is an opaque composite token."
          }
        ],
        "responses": {
          "200": {
            "description": "Hashtag search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagSearchResponse"
                },
                "example": {
                  "hashtags": [
                    {
                      "id": "229207",
                      "title": "fyp",
                      "description": "Videos on the For You feed.",
                      "cover": "https://p16-sign.tiktokcdn-us.com/hashtag.jpeg",
                      "video_count": 12000000,
                      "view_count": 55000000000000,
                      "is_commerce": false,
                      "url": "https://www.tiktok.com/tag/fyp"
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/trending/videos": {
      "get": {
        "operationId": "getTikTokTrendingVideos",
        "summary": "Trending Videos",
        "description": "Trending videos from the TikTok Explore feed.",
        "tags": [
          "TikTok Trending"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                },
                "example": {
                  "videos": [
                    {
                      "id": "7234567890123456789",
                      "description": "new dance #fyp #dance",
                      "create_time_utc": 1700000000,
                      "create_time_at": "2023-11-14T22:13:20Z",
                      "region": "US",
                      "url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "share_url": "https://www.tiktok.com/@charlidamelio/video/7234567890123456789",
                      "aweme_type": 0,
                      "author": {
                        "id": "6784129854561813509",
                        "sec_uid": "MS4wLjABAAAA...",
                        "unique_id": "charlidamelio",
                        "nickname": "charli d'amelio",
                        "avatar_thumb": "https://p16-sign.tiktokcdn-us.com/avatar.jpeg",
                        "signature": "no bio yet",
                        "verified": true,
                        "follower_count": 155600000,
                        "following_count": 1300,
                        "heart_count": 11800000000,
                        "video_count": 2700,
                        "region": "US"
                      },
                      "music": {
                        "id": "7011111111111111111",
                        "title": "original sound",
                        "author_name": "charli d'amelio",
                        "duration": 15,
                        "play_url": "https://sf16-sg.tiktokcdn.com/music.mp3",
                        "original": true
                      },
                      "stats": {
                        "play_count": 24000000,
                        "digg_count": 3100000,
                        "comment_count": 18000,
                        "share_count": 42000,
                        "collect_count": 99000
                      },
                      "video": {
                        "height": 1024,
                        "width": 576,
                        "duration": 15,
                        "ratio": "540p",
                        "format": "mp4",
                        "cover": "https://p16-sign.tiktokcdn-us.com/cover.jpeg",
                        "play_addr": "https://v16-webapp.tiktok.com/video.mp4",
                        "download_addr": "https://v16-webapp.tiktok.com/download.mp4",
                        "has_watermark": true
                      },
                      "hashtags": [
                        "fyp",
                        "dance"
                      ],
                      "mentions": [],
                      "challenges": [
                        {
                          "id": "229207",
                          "title": "fyp",
                          "desc": "",
                          "is_commerce": false
                        }
                      ],
                      "is_slideshow": false,
                      "image_urls": [],
                      "is_ad": false,
                      "is_pinned": false
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "cursor": "30",
                    "count": 30,
                    "search_id": null
                  },
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/trending/hashtags": {
      "get": {
        "operationId": "getTikTokTrendingHashtags",
        "summary": "Trending Hashtags",
        "description": "Trending hashtags ranked by usage (served via the on-device signer path — view counts and distinct-creator counts).",
        "tags": [
          "TikTok Trending"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7
            },
            "description": "Look-back window in days for the trend ranking (e.g. 7, 30, 120)."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending hashtags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingHashtagsResponse"
                },
                "example": {
                  "hashtags": [
                    {
                      "name": "fyp",
                      "id": "229207",
                      "rank": 1,
                      "rank_diff": 0,
                      "country_code": "US",
                      "industry": "Entertainment",
                      "publish_count": 120000,
                      "view_count": 55000000000,
                      "user_count": 98000,
                      "is_promoted": false,
                      "is_new": false,
                      "url": "https://www.tiktok.com/tag/fyp"
                    }
                  ],
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/trending/songs": {
      "get": {
        "operationId": "getTikTokTrendingSongs",
        "summary": "Trending Songs",
        "description": "Trending songs/sounds ranked by usage (served via the on-device signer path — hot-music feed).",
        "tags": [
          "TikTok Trending"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Content region (ISO 3166-1 alpha-2). Routes the request through a proxy and signer for that locale."
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7
            },
            "description": "Look-back window in days for the trend ranking (e.g. 7, 30, 120)."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending songs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingSongsResponse"
                },
                "example": {
                  "songs": [
                    {
                      "title": "Espresso",
                      "id": "7011111111111111111",
                      "author": "Sabrina Carpenter",
                      "rank": 1,
                      "rank_diff": 2,
                      "country_code": "US",
                      "duration": 175,
                      "user_count": 1800000,
                      "cover": "https://p16-sign.tiktokcdn-us.com/song.jpeg",
                      "play_url": "https://sf16-sg.tiktokcdn.com/song.mp3",
                      "is_new": false,
                      "link": "https://www.tiktok.com/music/Espresso-7011111111111111111"
                    }
                  ],
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/ads/search": {
      "get": {
        "operationId": "searchTikTokAds",
        "summary": "Search the TikTok Ad Library",
        "description": "Search TikTok's Commercial Content Library (EU Digital Services Act ad transparency) by keyword or advertiser id. EU regions only.",
        "tags": [
          "TikTok Ads"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "Keyword to search ads by. Ignored when advertiser_id is set."
          },
          {
            "name": "advertiser_id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "Advertiser business id(s) to scope the search to a specific advertiser."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "DE"
            },
            "description": "EU region code — the Ad Library is EU-only (e.g. DE, FR, IE, NL)."
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 365
            },
            "description": "Look-back window in days for ads shown."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "last_shown_date,desc"
            },
            "description": "Sort order, '<field>,<direction>' (e.g. last_shown_date,desc)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Result offset for pagination."
          },
          {
            "name": "search_id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "Opaque search id from a prior page's `pagination.search_id`, to chain pages."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of items to return (1-50)."
          }
        ],
        "responses": {
          "200": {
            "description": "Ad Library results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdLibrarySearchResponse"
                },
                "example": {
                  "ads": [
                    {
                      "id": "172000000000000",
                      "name": "Acme GmbH",
                      "audit_status": "approved",
                      "type": "video",
                      "first_shown_date": 1699999999000,
                      "last_shown_date": 1700999999000,
                      "videos": [
                        {
                          "video_url": "https://library.tiktok.com/ad-video.mp4",
                          "cover_img": "https://library.tiktok.com/ad-cover.jpeg"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "has_more": true,
                    "total": 240,
                    "search_id": "20231114...",
                    "offset": 0
                  },
                  "region": "DE"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/regions": {
      "get": {
        "operationId": "listTikTokRegions",
        "summary": "List Regions",
        "description": "List supported TikTok content regions.",
        "tags": [
          "TikTok Reference"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Supported regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionsResponse"
                },
                "example": {
                  "regions": [
                    {
                      "code": "US",
                      "country_code": "US",
                      "locale": "en",
                      "name": "United States"
                    },
                    {
                      "code": "GB",
                      "country_code": "GB",
                      "locale": "en",
                      "name": "United Kingdom"
                    },
                    {
                      "code": "DE",
                      "country_code": "DE",
                      "locale": "de",
                      "name": "Germany"
                    },
                    {
                      "code": "JP",
                      "country_code": "JP",
                      "locale": "ja",
                      "name": "Japan"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/ads/advertisers": {
      "get": {
        "operationId": "searchTikTokAdvertisers",
        "summary": "Search TikTok advertisers",
        "description": "Look up advertiser business ids by name in TikTok's EU Ad Library. Matching is on the legal entity name, not the brand.",
        "tags": [
          "TikTok Ads"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Advertiser name (or partial) to look up."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "DE"
            },
            "description": "EU region code — the Ad Library is EU-only."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of suggestions."
          }
        ],
        "responses": {
          "200": {
            "description": "Matching advertisers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserSearchResponse"
                },
                "example": {
                  "advertisers": [
                    {
                      "name": "NIKE COM SRL",
                      "id": "7587573238117498896"
                    },
                    {
                      "name": "NIKE Retail B.V.",
                      "id": "6876453864464188162"
                    }
                  ],
                  "keywords": [],
                  "query": "nike",
                  "region": "DE"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/ads/{ad_id}": {
      "get": {
        "operationId": "getTikTokAdDetail",
        "summary": "Get TikTok ad detail",
        "description": "Fetch a single ad's advertiser, creatives, and full targeting/impression breakdown (per-region age/gender impressions, audience size, interests, countries, languages).",
        "tags": [
          "TikTok Ads"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ad id from an ads/search result."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "DE"
            },
            "description": "EU region code — the Ad Library is EU-only."
          }
        ],
        "responses": {
          "200": {
            "description": "Ad detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdDetailResponse"
                },
                "example": {
                  "ad": {
                    "id": "1873163420032386",
                    "name": "Nike Store",
                    "title": "@nike",
                    "first_shown_date": 1786320000000,
                    "last_shown_date": 1786406400000,
                    "videos": [
                      {
                        "video_url": "https://library.tiktok.com/api/v1/cdn/ad.mp4",
                        "cover_img": "https://p16-common-sign.tiktokcdn.com/cover.image"
                      }
                    ],
                    "estimated_audience": "10K-100K",
                    "advertising_objective": "Reach",
                    "call_to_action": "Learn more",
                    "external_url": "https://www.nike.com/de/"
                  },
                  "advertiser": {
                    "name": "Nike Store",
                    "adv_biz_ids": "7564865556147552273",
                    "registry_location": "Germany",
                    "sponsor": "Nike Store",
                    "tt_user": null
                  },
                  "targeting": {
                    "location": {
                      "total_region": 1,
                      "total_impressions": "10K-100K",
                      "data": [
                        {
                          "region": "DE",
                          "impressions": "23K",
                          "breakdowns": [
                            {
                              "age": "18-24",
                              "gender": "FEMALE",
                              "impressions": "9K"
                            },
                            {
                              "age": "25-34",
                              "gender": "FEMALE",
                              "impressions": "5K"
                            }
                          ]
                        }
                      ]
                    },
                    "target_audience_size": "22.8M-27.9M",
                    "interest": "Home Design, Education",
                    "countries": [
                      "DE"
                    ],
                    "languages": [
                      "German"
                    ],
                    "operating_systems": [
                      "ALL"
                    ]
                  },
                  "display_mode": "enhanced",
                  "region": "DE"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/shop/ranking": {
      "get": {
        "operationId": "getTikTokShopRanking",
        "summary": "Shop Best Sellers",
        "description": "TikTok Shop's own ranking of the best-selling products of the past 30 days, with price, discount, rating, exact sold count, seller and deal labels. US storefront only; the ranking carries about 20 products.",
        "tags": [
          "TikTok Shop"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Market — US only for this endpoint."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Maximum number of products to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Shop Best Sellers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopRankingResponse"
                },
                "example": {
                  "products": [
                    {
                      "product_id": "1729448464509734958",
                      "title": "Toplux Magnesium Complex 8 Essential Magnesium Supplement",
                      "url": "https://shop.tiktok.com/us/pdp/magnesium-complex-by-toplux-8-essential-magnesium-forms-in-one-capsule/1729448464509734958",
                      "image": "https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-...",
                      "price": {
                        "amount": 16.97,
                        "original": 49.97,
                        "discount": "66%",
                        "currency": "USD",
                        "symbol": "$"
                      },
                      "rating": 4.6,
                      "review_count": 157996,
                      "sold_count": 2024716,
                      "seller": {
                        "id": "7495620301677955118",
                        "name": "Toplux Nutrition",
                        "logo": "https://p16-oec-general-useast5.ttcdn-us.com/tos-u..."
                      },
                      "brand": "Toplux",
                      "labels": [
                        "Limited time deal",
                        "Free shipping"
                      ],
                      "video": null,
                      "rank": 1
                    },
                    {
                      "product_id": "1731997246433955867",
                      "title": "[Dr.Melaxin Official] Gifted Collagen Boost Set Pore Spot Skin Care Calcium Collagen Volume Firming Balm for Enhanced Skin Health routine",
                      "url": "https://shop.tiktok.com/us/pdp/gifted-collagen-boost-set-for-enhanced-skin-health-routine/1731997246433955867",
                      "image": "https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-...",
                      "price": {
                        "amount": 58.5,
                        "original": 273.0,
                        "discount": "79%",
                        "currency": "USD",
                        "symbol": "$"
                      },
                      "rating": 4.5,
                      "review_count": 32931,
                      "sold_count": 471996,
                      "seller": {
                        "id": "7495830785034323995",
                        "name": "Dr.Melaxin",
                        "logo": "https://p16-oec-general-useast5.ttcdn-us.com/tos-u..."
                      },
                      "brand": "Dr.Melaxin",
                      "labels": [
                        "Free shipping"
                      ],
                      "video": null,
                      "rank": 2
                    }
                  ],
                  "period": "past_30_days",
                  "region": "US"
                }
              }
            }
          },
          "400": {
            "description": "Unsupported market or feature for the market"
          }
        }
      }
    },
    "/v1/tiktok/shop/deals/{deal}": {
      "get": {
        "operationId": "getTikTokShopDeals",
        "summary": "Shop Deals Feed",
        "description": "A curated storefront feed of about 40 products: `recommended-for-you` or `premium-offers`. US only.",
        "tags": [
          "TikTok Shop"
        ],
        "parameters": [
          {
            "name": "deal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "recommended-for-you",
                "premium-offers"
              ]
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Market — US only for this endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Shop Deals Feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopDealsResponse"
                },
                "example": {
                  "deal": "premium-offers",
                  "products": [
                    {
                      "product_id": "1729494587354420231",
                      "title": "JOYIN 4 Pack Stress Cube, 2'' High Density Cube Fidget Toy, Stress Relief with Slow Rising Sensory Squishy Toys for Kids Adults, Birthday Gifts, Party Favors, Classroom Prizes for Boys Girls,  Butter Stick Squishy",
                      "url": "https://shop.tiktok.com/us/pdp/stress-cube-joyin-4-pack-fidget-toys-slow-rising-fun-for-all/1729494587354420231",
                      "image": "https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-...",
                      "price": {
                        "amount": 12.99,
                        "original": null,
                        "discount": null,
                        "currency": "USD",
                        "symbol": "$"
                      },
                      "rating": 4.1,
                      "review_count": 4143,
                      "sold_count": 38128,
                      "seller": {
                        "id": "7495151898716112903",
                        "name": "JOYIN",
                        "logo": "https://p16-oec-general-useast5.ttcdn-us.com/tos-u..."
                      },
                      "brand": "JOYIN",
                      "labels": [
                        "Free shipping"
                      ],
                      "video": null,
                      "rank": null
                    },
                    {
                      "product_id": "1731045839067714056",
                      "title": "Geoorood Cat Water Fountain - 304 Steel Top Automatic Water Feeder, 3.2L Large Capacity, Dual Flow Modes, 30-Day Leak Free Pet Fountain for Multi-Cat Homes, Easy to Clean,back to school",
                      "url": "https://shop.tiktok.com/us/pdp/cat-water-fountain-geoorood-108oz-with-dual-mode-design-20db-quiet-bpa-free-abs/1731045839067714056",
                      "image": "https://p19-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-...",
                      "price": {
                        "amount": 23.26,
                        "original": 49.99,
                        "discount": "53%",
                        "currency": "USD",
                        "symbol": "$"
                      },
                      "rating": 4.7,
                      "review_count": 2639,
                      "sold_count": 16546,
                      "seller": {
                        "id": "7495483223861791240",
                        "name": "Geoorood Pet US",
                        "logo": "https://p16-oec-general-useast5.ttcdn-us.com/tos-u..."
                      },
                      "brand": "Geoorood",
                      "labels": [
                        "Free shipping"
                      ],
                      "video": null,
[...]
