{
  "openapi": "3.1.0",
  "info": {
    "title": "ScrapeBadger eBay API",
    "version": "1.0.0",
    "description": "eBay marketplace scraping API for searching active and completed (sold) listings, fetching item details, reviews, sellers, seller listings and feedback, category browsing, autocomplete, and reference data across 18 marketplaces."
  },
  "servers": [
    {
      "url": "https://scrapebadger.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/ebay/search": {
      "get": {
        "operationId": "searchEbayListings",
        "summary": "Search Listings",
        "description": "Search an eBay marketplace for active listings.",
        "tags": [
          "eBay Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keywords."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "com"
            },
            "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restrict results to a category id."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Page number for paginated results."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            },
            "description": "Results per page. Clamped to 60, 120 or 240."
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "best_match",
              "enum": [
                "best_match",
                "ending_soonest",
                "newly_listed",
                "price_low_to_high",
                "price_high_to_low"
              ]
            },
            "description": "Sort order for results."
          },
          {
            "name": "condition",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "open_box",
                "refurbished",
                "used",
                "for_parts",
                "graded",
                "ungraded"
              ]
            },
            "description": "Item condition. `graded` / `ungraded` are eBay's trading-card conditions — slabbed (PSA/BGS/CGC) vs raw — so a card can be priced separately from its slabs."
          },
          {
            "name": "buying_format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "auction",
                "buy_it_now",
                "best_offer"
              ]
            },
            "description": "Buying format filter."
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Minimum price filter in the marketplace's local currency."
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Maximum price filter in the marketplace's local currency."
          },
          {
            "name": "free_shipping",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Only return listings with free shipping."
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Item location. `domestic` returns only items located in this marketplace's own country (`domain=fr` → France only); `worldwide` widens to every country. Foreign listings are priced in the marketplace's currency after eBay CONVERTS them, so `domestic` is also how you get untouched native sale prices.",
            "schema": {
              "type": "string",
              "enum": [
                "domestic",
                "worldwide"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "domain": {
                      "type": "string"
                    },
                    "category_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sold": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "item_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "product_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "title": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "original_price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "discount_percent": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "currency": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "condition": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "brand": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "buying_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_auction": {
                            "type": "boolean"
                          },
                          "bids": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "time_left": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "current_bid": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "Current high bid for auction listings; mirrors `price`. Null for non-auction (fixed-price) listings.",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "shipping": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "shipping_cost": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "free_shipping": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          },
                          "location": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "returns": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "sold_count": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "sold_date": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Sale date text as rendered by eBay on the sold card, e.g. \"2 Jul 2026\". Localized on non-English marketplaces (e.g. \"Verkauft 5. Okt. 2024\"). Null on active listings.",
                            "examples": [
                              "2 Jul 2026"
                            ]
                          },
                          "sold_date_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Best-effort ISO 8601 date parsed from sold_date, e.g. \"2026-07-02\". Null when the marketplace's date format is not English.",
                            "examples": [
                              "2026-07-02"
                            ]
                          },
                          "watchers": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "coupon": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rating": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "ratings_total": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "seller_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "seller_feedback_percent": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "seller_feedback_score": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "program_badge": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_sponsored": {
                            "type": [
                              "boolean",
                              "null"
                            ],
                            "description": "Always null — eBay renders its Sponsored badge into every card as anti-scraping bait, so promoted placements cannot be distinguished from organic results."
                          }
                        }
                      }
                    },
                    "facets": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_pages": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_results": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "has_more": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "True while eBay still offers a next page — the stop signal for bulk extraction. total_results is populated on completed/sold; total_pages may be null. Past the last page eBay re-serves it, so page on has_more rather than looping until empty."
                        }
                      }
                    },
                    "scraped_utc": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "scraped_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ebay/search/by-image": {
      "post": {
        "operationId": "searchEbayByImage",
        "summary": "Search by Image",
        "description": "Search active listings by image, running eBay's own visual search — the camera icon in eBay's search bar. Returns the same shape as `/v1/ebay/search`, with `query` set to null. There is deliberately no `sort_by`: eBay ignores sorting on a visual results page. Costs 10 credits (two round trips to eBay); failed requests are free.",
        "tags": [
          "eBay Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public http(s) URL of the image to search with. Exactly one of `image_url` or `image_base64` is required."
                  },
                  "image_base64": {
                    "type": "string",
                    "description": "The image itself, base64-encoded. A bare payload or a `data:image/jpeg;base64,...` URL are both accepted. JPEG and PNG are verified; the decoded image must be at most 10 MB."
                  },
                  "domain": {
                    "type": "string",
                    "default": "com",
                    "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
                  },
                  "category_id": {
                    "type": "string",
                    "description": "Restrict results to a category id."
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1,
                    "maximum": 1000,
                    "description": "Page number for paginated results."
                  },
                  "per_page": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 240,
                    "description": "Results per page. Clamped to 60, 120 or 240."
                  },
                  "condition": {
                    "type": "string",
                    "enum": [
                      "new",
                      "open_box",
                      "refurbished",
                      "used",
                      "for_parts",
                      "graded",
                      "ungraded"
                    ],
                    "description": "Item condition. `graded` / `ungraded` are eBay's trading-card conditions — slabbed (PSA/BGS/CGC) vs raw — so a card can be priced separately from its slabs."
                  },
                  "buying_format": {
                    "type": "string",
                    "enum": [
                      "auction",
                      "buy_it_now",
                      "best_offer"
                    ],
                    "description": "Buying format filter."
                  },
                  "min_price": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Minimum price filter in the marketplace's local currency."
                  },
                  "max_price": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Maximum price filter in the marketplace's local currency."
                  },
                  "free_shipping": {
                    "type": "boolean",
                    "default": false,
                    "description": "Only return listings with free shipping."
                  },
                  "location": {
                    "type": "string",
                    "enum": [
                      "domestic",
                      "worldwide"
                    ],
                    "description": "Item location. `domestic` returns only items located in this marketplace's own country (`domain=fr` → France only); `worldwide` widens to every country. Foreign listings are priced in the marketplace's currency after eBay CONVERTS them, so `domestic` is also how you get untouched native sale prices."
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "english",
                      "japanese",
                      "chinese",
                      "korean"
                    ],
                    "description": "Filter by the item's Language aspect, resolved to each marketplace's own localized aspect name. Measured on ebay.com books: 11.0M results unfiltered, 7.8M `english`, 99k `japanese`."
                  }
                }
              },
              "examples": {
                "byUrl": {
                  "summary": "By image URL",
                  "value": {
                    "image_url": "https://example.com/sneaker.jpg",
                    "domain": "com"
                  }
                },
                "byUpload": {
                  "summary": "By base64 upload",
                  "value": {
                    "image_base64": "/9j/4AAQSkZJRgABAQ...",
                    "domain": "com",
                    "per_page": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listings matching the image",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "domain": {
                      "type": "string"
                    },
                    "category_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sold": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "item_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "product_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "title": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "original_price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "discount_percent": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "currency": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "condition": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "brand": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "buying_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_auction": {
                            "type": "boolean"
                          },
                          "bids": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "time_left": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "current_bid": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "Current high bid for auction listings; mirrors `price`. Null for non-auction (fixed-price) listings.",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "shipping": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "shipping_cost": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "free_shipping": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          },
                          "location": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "returns": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "sold_count": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "sold_date": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Sale date text as rendered by eBay on the sold card, e.g. \"2 Jul 2026\". Localized on non-English marketplaces (e.g. \"Verkauft 5. Okt. 2024\"). Null on active listings.",
                            "examples": [
                              "2 Jul 2026"
                            ]
                          },
                          "sold_date_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Best-effort ISO 8601 date parsed from sold_date, e.g. \"2026-07-02\". Null when the marketplace's date format is not English.",
                            "examples": [
                              "2026-07-02"
                            ]
                          },
                          "watchers": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "coupon": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rating": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "ratings_total": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "seller_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "seller_feedback_percent": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "seller_feedback_score": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "program_badge": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_sponsored": {
                            "type": [
                              "boolean",
                              "null"
                            ],
                            "description": "Always null — eBay renders its Sponsored badge into every card as anti-scraping bait, so promoted placements cannot be distinguished from organic results."
                          }
                        }
                      }
                    },
                    "facets": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_pages": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_results": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "has_more": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "True while eBay still offers a next page — the stop signal for bulk extraction. total_results is populated on completed/sold; total_pages may be null. Past the last page eBay re-serves it, so page on has_more rather than looping until empty."
                        }
                      }
                    },
                    "scraped_utc": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "scraped_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ebay/completed": {
      "get": {
        "operationId": "searchEbayCompleted",
        "summary": "Completed / Sold Listings",
        "description": "Search eBay completed (sold) listings — the closing prices buyers actually paid, with the date each item sold. `sold` is `true` on the envelope and each result's `price` is the final sold price. Served via an authenticated eBay session. Costs 5 credits; failed requests are free.",
        "tags": [
          "eBay Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keywords."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "com"
            },
            "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restrict results to a category id."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Page number for paginated results."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            },
            "description": "Results per page. Clamped to 60, 120 or 240."
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "best_match",
              "enum": [
                "best_match",
                "ending_soonest",
                "newly_listed",
                "price_low_to_high",
                "price_high_to_low"
              ]
            },
            "description": "Sort order for results."
          },
          {
            "name": "condition",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "open_box",
                "refurbished",
                "used",
                "for_parts",
                "graded",
                "ungraded"
              ]
            },
            "description": "Item condition. `graded` / `ungraded` are eBay's trading-card conditions — slabbed (PSA/BGS/CGC) vs raw — so a card can be priced separately from its slabs."
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Minimum price filter in the marketplace's local currency."
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Maximum price filter in the marketplace's local currency."
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Item location. `domestic` returns only items located in this marketplace's own country (`domain=fr` → France only); `worldwide` widens to every country. Foreign listings are priced in the marketplace's currency after eBay CONVERTS them, so `domestic` is also how you get untouched native sale prices.",
            "schema": {
              "type": "string",
              "enum": [
                "domestic",
                "worldwide"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed / sold listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "domain": {
                      "type": "string"
                    },
                    "category_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sold": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "item_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "product_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "title": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "original_price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "discount_percent": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "currency": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "condition": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "brand": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "buying_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_auction": {
                            "type": "boolean"
                          },
                          "bids": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "time_left": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "current_bid": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "Current high bid for auction listings; mirrors `price`. Null for non-auction (fixed-price) listings.",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "shipping": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "shipping_cost": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "free_shipping": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          },
                          "location": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "returns": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "sold_count": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "sold_date": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Sale date text as rendered by eBay on the sold card, e.g. \"2 Jul 2026\". Localized on non-English marketplaces (e.g. \"Verkauft 5. Okt. 2024\"). Null on active listings.",
                            "examples": [
                              "2 Jul 2026"
                            ]
                          },
                          "sold_date_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Best-effort ISO 8601 date parsed from sold_date, e.g. \"2026-07-02\". Null when the marketplace's date format is not English.",
                            "examples": [
                              "2026-07-02"
                            ]
                          },
                          "watchers": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "coupon": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rating": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "ratings_total": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "seller_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "seller_feedback_percent": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "seller_feedback_score": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "program_badge": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_sponsored": {
                            "type": [
                              "boolean",
                              "null"
                            ],
                            "description": "Always null — eBay renders its Sponsored badge into every card as anti-scraping bait, so promoted placements cannot be distinguished from organic results."
                          }
                        }
                      }
                    },
                    "facets": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_pages": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_results": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "has_more": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "True while eBay still offers a next page — the stop signal for bulk extraction. total_results is populated on completed/sold; total_pages may be null. Past the last page eBay re-serves it, so page on has_more rather than looping until empty."
                        }
                      }
                    },
                    "scraped_utc": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "scraped_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ebay/items/{item_id}": {
      "get": {
        "operationId": "getEbayItem",
        "summary": "Get Item Detail",
        "description": "Get a single eBay listing's full detail.",
        "tags": [
          "eBay Items"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The eBay listing item id."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "com"
            },
            "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
          }
        ],
        "responses": {
          "200": {
            "description": "Item detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "item": {
                      "type": "object",
                      "properties": {
                        "item_id": {
                          "type": "string"
                        },
                        "product_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "legacy_item_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "title": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "subtitle": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "condition": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "condition_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "condition_description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "price": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "currency": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "raw": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "original_price": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "currency": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "raw": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "discount_percent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "currency": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "availability": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "quantity_available": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "quantity_sold": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "watchers": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "buying_format": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "is_auction": {
                          "type": "boolean"
                        },
                        "bids": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "time_left": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "current_bid": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "Current high bid for auction listings; mirrors `price`. Null for non-auction (fixed-price) listings.",
                          "properties": {
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "currency": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "raw": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "is_ended": {
                          "type": "boolean",
                          "description": "True when the listing has closed (sold or ended), any buying format. Defaults to false.",
                          "default": false
                        },
                        "end_time_utc": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Listing end time as a Unix timestamp (float seconds): the auction close time, or the exact sold/ended time for ended listings of any format. Null for active fixed-price listings."
                        },
                        "end_time_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Listing end time as an ISO-8601 UTC string (e.g. \"2026-06-22T19:50:51Z\"): the auction close time, or the exact sold/ended time for ended listings of any format. Null for active fixed-price listings."
                        },
                        "buy_it_now_price": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "Buy It Now price for fixed-price listings (mirrors `price`) or auction-with-Buy-It-Now listings. Null for pure auctions.",
                          "properties": {
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "currency": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "raw": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "best_offer_enabled": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "brand": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "mpn": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "model": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "color": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "gtin": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "main_image": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "height": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              }
                            }
                          }
                        },
                        "images_count": {
                          "type": "integer"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "seller_notes": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "item_specifics": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "category_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "shipping_options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cost": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  },
                                  "currency": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "symbol": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "raw": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              "is_free": {
                                "type": [
                                  "boolean",
                                  "null"
                                ]
                              },
                              "service": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "destination_country": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "delivery_estimate": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          }
                        },
                        "shipping_cost": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "currency": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "raw": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "free_shipping": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "item_location": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "ships_to": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "returns": {
                          "type": "object",
                          "properties": {
                            "accepted": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "period": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "cost_paid_by": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "raw": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "seller": {
                          "type": "object",
                          "properties": {
                            "username": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "url": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "feedback_score": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "feedback_percent": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "store_name": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "store_url": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        },
                        "rating": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "ratings_total": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "date_modified_utc": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "date_modified_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "scraped_utc": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "scraped_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ebay/items/{item_id}/reviews": {
      "get": {
        "operationId": "getEbayItemReviews",
        "summary": "Get Item Reviews",
        "description": "Get catalog product reviews shown on an eBay listing.",
        "tags": [
          "eBay Items"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The eBay listing item id."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "com"
            },
            "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Page number for reviews."
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "item_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "product_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "rating": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "ratings_total": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "histogram": {
                      "type": "object",
                      "properties": {
                        "five_star": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "four_star": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "three_star": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "two_star": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "one_star": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        }
                      }
                    },
                    "reviews": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "body": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rating": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "author": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "date_raw": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "date_utc": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "date_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "helpful_votes": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "verified_purchase": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_pages": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_results": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "has_more": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "True while eBay still offers a next page — the stop signal for bulk extraction. total_results is populated on completed/sold; total_pages may be null. Past the last page eBay re-serves it, so page on has_more rather than looping until empty."
                        }
                      }
                    },
                    "scraped_utc": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "scraped_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ebay/sellers/{username}": {
      "get": {
        "operationId": "getEbaySeller",
        "summary": "Get Seller Profile",
        "description": "Get an eBay seller's public profile.",
        "tags": [
          "eBay Sellers"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The eBay seller username."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "com"
            },
            "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
          }
        ],
        "responses": {
          "200": {
            "description": "Seller profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "seller": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "store_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "store_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "feedback_score": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "feedback_percent": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "member_since": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "location": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "items_for_sale": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "feedback_12mo": {
                          "type": "object",
                          "properties": {
                            "positive": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "neutral": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            },
                            "negative": {
                              "type": [
                                "integer",
                                "null"
                              ]
                            }
                          }
                        },
                        "top_rated": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "scraped_utc": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "scraped_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ebay/sellers/{username}/items": {
      "get": {
        "operationId": "getEbaySellerItems",
        "summary": "Get Seller Listings",
        "description": "List the active listings of a single eBay seller.",
        "tags": [
          "eBay Sellers"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The eBay seller username."
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "com"
            },
            "description": "eBay marketplace domain TLD or alias (com, co.uk, de, fr, ...)."
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional keyword filter within the seller's store."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page number for paginated results."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            },
            "description": "Results per page. Clamped to 60, 120 or 240."
          }
        ],
        "responses": {
          "200": {
            "description": "Seller listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "item_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "product_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "title": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "original_price": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "currency": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "raw": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "discount_percent": {
                            "type": [
                              "number",
[...]
